BasedOnStyle: LLVM
IndentWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Stroustrup
PointerAlignment: Left
SpaceAfterCStyleCast: true

IndentAccessModifiers: false
AccessModifierOffset: -4

AllowShortFunctionsOnASingleLine: InlineOnly
# Experimental flag, could fail at anytime
ExperimentalAutoDetectBinPacking: true

BreakConstructorInitializers: BeforeColon
PackConstructorInitializers: Never

AllowShortCaseLabelsOnASingleLine: true
AlignConsecutiveShortCaseStatements:
  Enabled: true
  
# Fails on ubuntu-latest
#AlignEscapedNewlines: LeftWithLastLine

AlignEscapedNewlines: DontAlign
AlignConsecutiveMacros:
  Enabled: true
  AcrossEmptyLines: true

# Fails on ubuntu-latest
#BreakTemplateDeclarations: Yes
AlwaysBreakTemplateDeclarations: true

SortIncludes: true
IncludeBlocks: Regroup
IncludeCategories:
  # Local headers
  - Regex: '^".*"$'
    Priority: 1
  # C standard headers
  - Regex: '^<.*\.h>$'
    Priority: 2
  # C++ standard headers
  - Regex: '^<.*>$'
    Priority: 3
