Checks:
  - '-*'
  - 'readability-identifier-naming'
  - 'cppcoreguidelines-special-member-functions'
  - 'google-explicit-constructor'
  - 'cppcoreguidelines-init-variables'

CheckOptions:
  # CamelCase classes, types, structs and enums
  - key: readability-identifier-naming.ClassCase
    value: CamelCase
  - key: readability-identifier-naming.TypedefCase
    value: CamelCase
  - key: readability-identifier-naming.EnumCase
    value: CamelCase
  - key: readability-identifier-naming.StructCase
    value: CamelCase

  # lower_case functions and variables
  - key: readability-identifier-naming.FunctionCase
    value: lower_case
  - key: readability-identifier-naming.VariableCase
    value: lower_case

  # Underscore suffix for private members (foo_)
  - key: readability-identifier-naming.PrivateMemberSuffix
    value: _

  # camelBack constants with k prefix (kMaxConnections)
  - key: readability-identifier-naming.ConstantCase
    value: camelBack
  - key: readability-identifier-naming.ConstantPrefix
    value: k

  # Rule of three / orthodox cannonical form
  - key: cppcoreguidelines-special-member-functions.AllowMissingMoveFunctions
    value: true
  - key: cppcoreguidelines-special-member-functions.AllowImplicitlyDeletedCopyOrMove
    value: true
